In [268]:
#import necessary libraries
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [269]:
#set file path
pptrainpath = 'C:/Users/ramya/Documents/Cloud Counselage Intern/Machine Learning Intern Projects/Data/05 Input Data/Prediction of Placement Status Data/01 Train Data.xlsx'
pptestpath = 'C:/Users/ramya/Documents/Cloud Counselage Intern/Machine Learning Intern Projects/Data/05 Input Data/Prediction of Placement Status Data/02 Test Data.xlsx'

In [270]:
#read data
pptrain = pd.read_excel(pptrainpath)
pptrain.head(5)

,First Name,Email ID,Quantity,Price Tier,Ticket Type,Attendee #,Group,Order Type,Currency,Total Paid,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,ANIKET,aniket@xyz.com,1,NaN,Art of Resume Building,2.213855e+09,NaN,Free Order,USD,0,...,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,Placed
1,Dhanshree,dhanshree@xyz.com,1,NaN,Art of Resume Building,2.213859e+09,NaN,Free Order,USD,0,...,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,Not placed
2,Dhiraj,dhiraj@xyz.com,1,NaN,Art of Resume Building,2.213862e+09,NaN,Free Order,USD,0,...,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,Not placed
3,Pooja,pooja@xyz.com,1,NaN,Art of Resume Building,2.213988e+09,NaN,Free Order,USD,0,...,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,Not placed
4,Aayush,aayush@xyz.com,1,NaN,Art of Resume Building,2.214567e+09,NaN,Free Order,USD,0,...,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,Placed

In [271]:
pptest = pd.read_excel(pptestpath)
pptest1 = pd.read_excel(pptestpath)
pptest1.head(5)

,First Name,Email ID,Quantity,Price Tier,Ticket Type,Attendee #,Group,Order Type,Currency,Total Paid,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,Sahil,sahil@xyz.com,1,NaN,Hello ML and DL,2.293940e+09,NaN,Free Order,USD,0,...,Attending,"symbiosis institute of technology, pune",Whatsapp,NaN,Students,NaN,7.8,3,3,NaN
1,Amrita,amrita@xyz.com,1,NaN,Hello ML and DL,2.293941e+09,NaN,Free Order,USD,0,...,Attending,"mit academy of engineering ,alandi",Whatsapp,NaN,Students,NaN,9.1,3,3,NaN
2,Mamta,mamta@xyz.com,1,NaN,Hello ML and DL,2.293941e+09,NaN,Free Order,USD,0,...,Attending,a. c. patil college of engineering,Whatsapp,NaN,Students,NaN,6.9,2,2,NaN
3,Bhagyashri,bhagyashri@xyz.com,1,NaN,Hello ML and DL,2.293946e+09,NaN,Free Order,USD,0,...,Attending,wilson college,Others,NaN,Students,NaN,8.4,4,4,NaN
4,Divyanshu,divyanshu@xyz.com,1,NaN,Hello ML and DL,2.293956e+09,NaN,Free Order,USD,0,...,Attending,"ld college of engineering, ahmedabad, gujarat",Whatsapp,NaN,Students,NaN,6.7,5,5,NaN

In [272]:
#drop empty columns
pptrain = pptrain.drop(['Price Tier', 'Group'], axis=1)
pptest1 = pptest1.drop(['Price Tier', 'Group'], axis=1)

In [273]:
#drop missing target variable rows
pptrain = pptrain.dropna(subset='Placement Status')

In [274]:
pptrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 0 to 1097
Data columns (total 21 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       1098 non-null   object
 1   Email ID                                                         1098 non-null   object
 2   Quantity                                                         1098 non-null   int64
 3   Ticket Type                                                      1098 non-null   object
 4   Attendee #                                                       696 non-null    float64
 5   Order Type                                                       1098 non-null   object
 6   Currency                                                         696 non-null    object
 7   Total Paid                                                       1098 non-null   int64
 8   Fees Paid                                                        696 non-null    float64
 9   Eventbrite Fees                                                  1098 non-null   int64
 10  Eventbrite Payment Processing                                    1098 non-null   int64
 11  Attendee Status                                                  1098 non-null   object
 12  College Name                                                     1084 non-null   object
 13  How did you come to know about this event?                       1094 non-null   object
 14  Specify in "Others" (how did you come to know about this event)  62 non-null     object
 15  Designation                                                      1098 non-null   object
 16  Year of Graduation                                               0 non-null      object
 17  CGPA                                                             1098 non-null   float64
 18  Speaking Skills                                                  1098 non-null   int64
 19  ML Knowledge                                                     1098 non-null   int64
 20  Placement Status                                                 1098 non-null   object
dtypes: float64(3), int64(6), object(12)
memory usage: 188.7+ KB

In [275]:
pptest1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Data columns (total 21 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   First Name                                                       3796 non-null   object
 1   Email ID                                                         3796 non-null   object
 2   Quantity                                                         3796 non-null   int64
 3   Ticket Type                                                      3796 non-null   object
 4   Attendee #                                                       3794 non-null   float64
 5   Order Type                                                       3796 non-null   object
 6   Currency                                                         3794 non-null   object
 7   Total Paid                                                       3796 non-null   int64
 8   Fees Paid                                                        3794 non-null   float64
 9   Eventbrite Fees                                                  3796 non-null   int64
 10  Eventbrite Payment Processing                                    3796 non-null   int64
 11  Attendee Status                                                  3796 non-null   object
 12  College Name                                                     3795 non-null   object
 13  How did you come to know about this event?                       1584 non-null   object
 14  Specify in "Others" (how did you come to know about this event)  27 non-null     object
 15  Designation                                                      3796 non-null   object
 16  Year of Graduation                                               1032 non-null   object
 17  CGPA                                                             3796 non-null   float64
 18  Speaking Skills                                                  3796 non-null   int64
 19  ML Knowledge                                                     3796 non-null   int64
 20  Placement Status                                                 0 non-null      float64
dtypes: float64(4), int64(6), object(11)
memory usage: 622.9+ KB

In [276]:
#convert categorical values into numerical values
pptrain['Placement Status']=LabelEncoder().fit_transform(pptrain['Placement Status'])
pptrain.head()

,First Name,Email ID,Quantity,Ticket Type,Attendee #,Order Type,Currency,Total Paid,Fees Paid,Eventbrite Fees,...,Attendee Status,College Name,How did you come to know about this event?,"Specify in ""Others"" (how did you come to know about this event)",Designation,Year of Graduation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,ANIKET,aniket@xyz.com,1,Art of Resume Building,2.213855e+09,Free Order,USD,0,0.0,0,...,Attending,D Y PATIL INSTITUTE OF MCA AND MANAGEMENT AKUR...,Email,NaN,Students,NaN,6.7,2,5,1
1,Dhanshree,dhanshree@xyz.com,1,Art of Resume Building,2.213859e+09,Free Order,USD,0,0.0,0,...,Attending,AP SHAH INSTITUTE OF TECHNOLOGY,Others,College,Students,NaN,8.2,3,2,0
2,Dhiraj,dhiraj@xyz.com,1,Art of Resume Building,2.213862e+09,Free Order,USD,0,0.0,0,...,Attending,Don Bosco College of Engineering Fatorda Goa,Email,NaN,Students,NaN,6.5,4,3,0
3,Pooja,pooja@xyz.com,1,Art of Resume Building,2.213988e+09,Free Order,USD,0,0.0,0,...,Attending,Pillai College of Engineering New Panvel,Email,NaN,Students,NaN,8.7,2,5,0
4,Aayush,aayush@xyz.com,1,Art of Resume Building,2.214567e+09,Free Order,USD,0,0.0,0,...,Attending,St Xavier's College,Instagram | LinkedIn | Cloud Counselage Website,NaN,Students,NaN,9.1,3,5,1

In [277]:
pptrain['Placement Status'].value_counts()

0    732
1    366
Name: Placement Status, dtype: int64

In [278]:
#drop unnecessary columns
pptrain = pptrain.drop(['First Name', 'Email ID', 'Attendee #', 'College Name', 'How did you come to know about this event?', 'Specify in "Others" (how did you come to know about this event)', 'Year of Graduation'], axis=1)
pptest1 = pptest1.drop(['First Name', 'Email ID', 'Attendee #', 'College Name', 'How did you come to know about this event?', 'Specify in "Others" (how did you come to know about this event)', 'Year of Graduation'], axis=1)

In [279]:
pptrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 0 to 1097
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Quantity                       1098 non-null   int64
 1   Ticket Type                    1098 non-null   object
 2   Order Type                     1098 non-null   object
 3   Currency                       696 non-null    object
 4   Total Paid                     1098 non-null   int64
 5   Fees Paid                      696 non-null    float64
 6   Eventbrite Fees                1098 non-null   int64
 7   Eventbrite Payment Processing  1098 non-null   int64
 8   Attendee Status                1098 non-null   object
 9   Designation                    1098 non-null   object
 10  CGPA                           1098 non-null   float64
 11  Speaking Skills                1098 non-null   int64
 12  ML Knowledge                   1098 non-null   int64
 13  Placement Status               1098 non-null   int32
dtypes: float64(2), int32(1), int64(6), object(5)
memory usage: 124.4+ KB

In [280]:
#handle missing values
pptrain["Currency"].fillna("USD", inplace = True)
pptrain['Currency'].value_counts()

USD    1098
Name: Currency, dtype: int64

In [281]:
#handle missing values
pptrain["Fees Paid"].fillna(0, inplace = True)
pptrain['Fees Paid'].value_counts()

0.0    1098
Name: Fees Paid, dtype: int64

In [282]:
pptrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 0 to 1097
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Quantity                       1098 non-null   int64
 1   Ticket Type                    1098 non-null   object
 2   Order Type                     1098 non-null   object
 3   Currency                       1098 non-null   object
 4   Total Paid                     1098 non-null   int64
 5   Fees Paid                      1098 non-null   float64
 6   Eventbrite Fees                1098 non-null   int64
 7   Eventbrite Payment Processing  1098 non-null   int64
 8   Attendee Status                1098 non-null   object
 9   Designation                    1098 non-null   object
 10  CGPA                           1098 non-null   float64
 11  Speaking Skills                1098 non-null   int64
 12  ML Knowledge                   1098 non-null   int64
 13  Placement Status               1098 non-null   int32
dtypes: float64(2), int32(1), int64(6), object(5)
memory usage: 124.4+ KB

In [283]:
#convert categorical columns into numerical ones
pptrain['Ticket Type']=LabelEncoder().fit_transform(pptrain['Ticket Type'])
print(pptrain['Ticket Type'].value_counts())
pptrain['Order Type']=LabelEncoder().fit_transform(pptrain['Order Type'])
print(pptrain['Order Type'].value_counts())
pptrain['Currency']=LabelEncoder().fit_transform(pptrain['Currency'])
print(pptrain['Currency'].value_counts())
pptrain['Attendee Status']=LabelEncoder().fit_transform(pptrain['Attendee Status'])
print(pptrain['Attendee Status'].value_counts())
pptrain['Designation']=LabelEncoder().fit_transform(pptrain['Designation'])
print(pptrain['Designation'].value_counts())

0    478
2    398
1    125
3     97
Name: Ticket Type, dtype: int64
0    1098
Name: Order Type, dtype: int64
0    1098
Name: Currency, dtype: int64
0    1088
1      10
Name: Attendee Status, dtype: int64
0    1098
Name: Designation, dtype: int64

In [284]:
pptrain.head(5)

,Quantity,Ticket Type,Order Type,Currency,Total Paid,Fees Paid,Eventbrite Fees,Eventbrite Payment Processing,Attendee Status,Designation,CGPA,Speaking Skills,ML Knowledge,Placement Status
0,1,0,0,0,0,0.0,0,0,0,0,6.7,2,5,1
1,1,0,0,0,0,0.0,0,0,0,0,8.2,3,2,0
2,1,0,0,0,0,0.0,0,0,0,0,6.5,4,3,0
3,1,0,0,0,0,0.0,0,0,0,0,8.7,2,5,0
4,1,0,0,0,0,0.0,0,0,0,0,9.1,3,5,1

In [285]:
pptrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 0 to 1097
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Quantity                       1098 non-null   int64
 1   Ticket Type                    1098 non-null   int32
 2   Order Type                     1098 non-null   int32
 3   Currency                       1098 non-null   int32
 4   Total Paid                     1098 non-null   int64
 5   Fees Paid                      1098 non-null   float64
 6   Eventbrite Fees                1098 non-null   int64
 7   Eventbrite Payment Processing  1098 non-null   int64
 8   Attendee Status                1098 non-null   int32
 9   Designation                    1098 non-null   int32
 10  CGPA                           1098 non-null   float64
 11  Speaking Skills                1098 non-null   int64
 12  ML Knowledge                   1098 non-null   int64
 13  Placement Status               1098 non-null   int32
dtypes: float64(2), int32(6), int64(6)
memory usage: 102.9 KB

In [286]:
#pairwise correlation of all the columns
pptrain.corr()

,Quantity,Ticket Type,Order Type,Currency,Total Paid,Fees Paid,Eventbrite Fees,Eventbrite Payment Processing,Attendee Status,Designation,CGPA,Speaking Skills,ML Knowledge,Placement Status
Quantity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ticket Type,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,-0.027276,NaN,-0.019851,0.015387,-0.002525,-0.001809
Order Type,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Currency,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Fees Paid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eventbrite Fees,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Eventbrite Payment Processing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Attendee Status,NaN,-0.027276,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,-0.055205,-0.029591,0.026909,-0.027116
Designation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CGPA,NaN,-0.019851,NaN,NaN,NaN,NaN,NaN,NaN,-0.055205,NaN,1.000000,0.013950,0.007696,0.001218
Speaking Skills,NaN,0.015387,NaN,NaN,NaN,NaN,NaN,NaN,-0.029591,NaN,0.013950,1.000000,0.868086,-0.008904
ML Knowledge,NaN,-0.002525,NaN,NaN,NaN,NaN,NaN,NaN,0.026909,NaN,0.007696,0.868086,1.000000,0.025761
Placement Status,NaN,-0.001809,NaN,NaN,NaN,NaN,NaN,NaN,-0.027116,NaN,0.001218,-0.008904,0.025761,1.000000

In [287]:
#drop uncorrelated columns to target variable
pptrain = pptrain.drop(['Quantity', 'Order Type', 'Currency', 'Total Paid', 'Fees Paid', 'Eventbrite Fees', 'Eventbrite Payment Processing', 'Designation'], axis=1)
pptest1 = pptest1.drop(['Quantity', 'Order Type', 'Currency', 'Total Paid', 'Fees Paid', 'Eventbrite Fees', 'Eventbrite Payment Processing', 'Designation'], axis=1)

In [288]:
pptest1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticket Type       3796 non-null   object
 1   Attendee Status   3796 non-null   object
 2   CGPA              3796 non-null   float64
 3   Speaking Skills   3796 non-null   int64
 4   ML Knowledge      3796 non-null   int64
 5   Placement Status  0 non-null      float64
dtypes: float64(2), int64(2), object(2)
memory usage: 178.1+ KB

In [289]:
#convert categorical columns into numerical ones
pptest1['Ticket Type']=LabelEncoder().fit_transform(pptest1['Ticket Type'])
print(pptest1['Ticket Type'].value_counts())
pptest1['Attendee Status']=LabelEncoder().fit_transform(pptest1['Attendee Status'])
print(pptest1['Attendee Status'].value_counts())

6     842
4     797
10    379
9     318
3     306
5     205
1     165
2     146
12    142
11    121
8     114
7     112
13     92
0      57
Name: Ticket Type, dtype: int64
0    3794
1       2
Name: Attendee Status, dtype: int64

In [290]:
pptrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1098 entries, 0 to 1097
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticket Type       1098 non-null   int32
 1   Attendee Status   1098 non-null   int32
 2   CGPA              1098 non-null   float64
 3   Speaking Skills   1098 non-null   int64
 4   ML Knowledge      1098 non-null   int64
 5   Placement Status  1098 non-null   int32
dtypes: float64(1), int32(3), int64(2)
memory usage: 47.2 KB

In [291]:
pptest1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3796 entries, 0 to 3795
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Ticket Type       3796 non-null   int32
 1   Attendee Status   3796 non-null   int32
 2   CGPA              3796 non-null   float64
 3   Speaking Skills   3796 non-null   int64
 4   ML Knowledge      3796 non-null   int64
 5   Placement Status  0 non-null      float64
dtypes: float64(2), int32(2), int64(2)
memory usage: 148.4 KB

In [292]:
pptrain.describe()

,Ticket Type,Attendee Status,CGPA,Speaking Skills,ML Knowledge,Placement Status
count,1098.000000,1098.000000,1098.000000,1098.000000,1098.000000,1098.000000
mean,1.103825,0.009107,8.038434,3.457195,3.477231,0.333333
std,1.068384,0.095041,1.004991,1.157784,1.150455,0.471619
min,0.000000,0.000000,6.200000,2.000000,2.000000,0.000000
25%,0.000000,0.000000,7.200000,2.000000,2.000000,0.000000
50%,1.000000,0.000000,7.900000,3.500000,4.000000,0.000000
75%,2.000000,0.000000,8.900000,5.000000,4.750000,1.000000
max,3.000000,1.000000,9.900000,5.000000,5.000000,1.000000

In [293]:
pptrain.corr()

,Ticket Type,Attendee Status,CGPA,Speaking Skills,ML Knowledge,Placement Status
Ticket Type,1.000000,-0.027276,-0.019851,0.015387,-0.002525,-0.001809
Attendee Status,-0.027276,1.000000,-0.055205,-0.029591,0.026909,-0.027116
CGPA,-0.019851,-0.055205,1.000000,0.013950,0.007696,0.001218
Speaking Skills,0.015387,-0.029591,0.013950,1.000000,0.868086,-0.008904
ML Knowledge,-0.002525,0.026909,0.007696,0.868086,1.000000,0.025761
Placement Status,-0.001809,-0.027116,0.001218,-0.008904,0.025761,1.000000

In [294]:
#assign independent values (X) and dependent value (y) for training
X = pptrain.drop(columns=['Placement Status'])
y = pptrain['Placement Status']

In [295]:
X.shape

(1098, 5)

In [296]:
y.shape

(1098,)

In [297]:
#train and test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=16)

In [298]:
#standardize the data values
s = StandardScaler()
X_train = s.fit_transform(X_train)
X_test = s.transform(X_test)

In [299]:
print("Training data shape:", X_train.shape, y_train.shape)
print("Testing data shape:", X_test.shape, y_test.shape)

Training data shape: (823, 5) (823,)
Testing data shape: (275, 5) (275,)

In [300]:
#Logistic Regression Model
model = LogisticRegression(solver='liblinear', random_state=0)
model.fit(X_train, y_train)

LogisticRegression(random_state=0, solver='liblinear')

In [301]:
model.classes_

array([0, 1])

In [302]:
y_pred = model.predict(X_test)

In [303]:
#Confusion Matrix
cm = confusion_matrix(y_test, y_pred)
print ("Confusion Matrix: \n", cm)

Confusion Matrix:
 [[181   1]
 [ 92   1]]

In [304]:
#Accuracy score
print ("Accuracy: ", accuracy_score(y_test, y_pred))

Accuracy:  0.6618181818181819

In [305]:
#Test set Prediction
test_set = pptest1.drop(columns=['Placement Status'])
test_set.shape

(3796, 5)

In [306]:
test_pred = model.predict(test_set)

c:\Users\ramya\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:432: UserWarning: X has feature names, but LogisticRegression was fitted without feature names
  warnings.warn(

In [307]:
pptest['Placement Status'] = test_pred

In [308]:
pptest['Placement Status'].value_counts()

0    3702
1      94
Name: Placement Status, dtype: int64

In [309]:
#map predicted placement status values to understandable values
placement_status_map = {
    0: "Not Placed",
    1: "Placed"}
pptest['Placement Status'] = pptest['Placement Status'].replace(placement_status_map)

In [310]:
pptest['Placement Status'].value_counts()

Not Placed    3702
Placed          94
Name: Placement Status, dtype: int64

In [311]:
#save predicted results as csv file
savepath = "C:/Users/ramya/Documents/Cloud Counselage Intern/Machine Learning Intern Projects/Placement Status Prediction/"
pptest.to_csv(savepath+"Placement_Status_Prediction_Results.csv")